<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
<div th:replace="@{common/menu_admin.html}"></div>
<div class="row">
	<div class="col-12">
		<div class="col-6 offset-3">
			<form th:action="@{/admin/products/create}" th:object="${productForm}" enctype="multipart/form-data" method="post">
				<div class="mt-3">
					Form Create Product
				</div>
				<div class="mt-3">
					<label class="form-label">Name</label>
					<input type="text" th:field="*{name}" class="form-control"/>
					<p class="errors" th:errors="*{name}" />
				</div>
				
				<div class="mt-3">
					<label class="form-label">Price</label>
					<input type="number" th:field="*{price}" class="form-control"/>
					<p class="errors" th:errors="*{price}" />
				</div>
				
				<div class="mt-3">
					<label class="form-label">Image</label>
					<input type="file" th:field="*{image}" class="form-control"/>
					<p class="errors" th:errors="*{image}" />
				</div>
				
				<div class="mt-3">
					<label class="form-label">Available</label>
					<input type="number" th:field="*{available}" class="form-control"/>
					<p class="errors" th:errors="*{available}" />
				</div>
				
				<div class="mt-3">
					<label class="form-label">Category Name</label>
					<select class="form-select" th:field="*{category_id}">
                         <option value=""> Chọn Tên Danh Mục </option>
                         <option th:each="cate : ${categories}"
                            th:value="${cate.id}"
                            th:utext="${cate.name}"/>
                  </select>
				</div>
				
				
				<div class="mt-3">
					<button type="submit" class="btn btn-primary mb-3">Submit
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
<div th:replace="@{common/footer_admin.html}"></div>
</body>
</html>