<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
<div th:replace="@{common/menu_login.html}"></div>
<div class="row">
	<div class="col-12">
		<div class="col-6 offset-3">
		<div th:text="${message}" class="message"></div>
			<form th:action="@{/register}" th:object="${registerForm}"   method="post">
				<div class="mt-3">
					Form Register Account
				</div>
				<div class="mt-3">
					<label class="form-label">userName</label>
					<input type="text" th:field="*{userName}" class="form-control"/>
				</div>
				
				<div class="mt-3">
					<label class="form-label">encrytedPassword</label>
					<input type="text" th:field="*{encrytedPassword}" class="form-control"/>
				</div>

				<div class="mt-3">
					<label class="form-label">enabled</label>
					<select class="form-select">
                        <option value="1">1</option>
 						 <option value="0">0</option>
                  </select>
				</div>
				
				<div class="mt-3">
					<label class="form-label">Role Name</label>
					<select class="form-select" th:field="*{role_id}">
                         <option th:each="role : ${roles}"
                            th:value="${role.roleId}"
                            th:utext="${role.roleName}"/>
                  </select>
                  
				</div>
				
				<div class="mt-3">
					<button type="submit" class="btn btn-primary mb-3">Submit
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
<div th:replace="@{common/footer_admin.html}"></div>
</body>
</html>